@page "/"

<PageTitle>Index</PageTitle>
<div class="card ">
    <h1>Studio Groove!</h1>

    Welcome to Studio Groove, our music enthusiast's haven! Our website is your one-stop destination for all things music-related.

    <div class="web-content">
        <div style="margin-right:20px;">
            <h4>Create Custom Lists: </h4>
            <p>Easily curate your personal music library by adding your favorite albums, artists and even your favorite instruments. Organize your collection with just a few clicks, making it simpler than ever to keep track of your musical passions.</p>
        </div>
        <div >
            <h4>Generate Music Genres: </h4>
            <p>Dive into the world of music exploration like never before. Our unique feature allows you to generate music genres, helping you discover fresh sounds that resonate with your taste.</p>
        </div>
    </div>

</div>

